<div class="footer">
  <p>
  Developed by <a href="mailto:mlasky46@gmail.com"> Maxwell Lasky</a> © 2016. 

  <a href="https://github.com/comountainclimber" target="blank">
    <div class="icon">
      <%= image_tag("octocat.png") %>
    </div>
  </a>
  </p>
</div>