<div class="row">
  <table class="summary-table table">
    <tr>
      <td class="summary-data">
        MIN: <b>{{minGrade}}</b>
      </td>
    </tr>
    <tr>
      <td class="summary-data">
        MAX: <b>{{maxGrade}}</b>
      </td>
    </tr>
    <tr>
      <td class="summary-data">
        AVERAGE: <b>{{classAverage}} </b>
      </td>
    </tr>
  </table>
</div>